programing -> instructing a computer/machine

set of instructions

In [ ]:
algorithm -> a series of steps

Task -> make a cup of tea

1. gather ingredients 
2. utensil, put on stove
3. turn on the stove
4. fill it with right amount of water
5. wait untill it start boiling
6. put in tea
7. wait for two minutes
8. add sugar and milk

task / solve a problem / 

machine code (100110101101010101101)

- set of instruction (algorithm) -> programing language -> machine code

- programing language compiler/interpreter

CS 

- C language, C++ , Java, Python

-

In [ ]:
interpret

In [17]:
print("sunil will appear")

sunil will appear

In [19]:
printf("this is c"); # this is a c lanugue instruction

NameError: name 'printf' is not defined

In [ ]:
# this is how we do things in C

void main(){
    
a = 10;
printf("Hello world! %d", a);

    
}

In [23]:
print("Hello world!")

Hello world!

In [ ]:
# varaibles are container that hold data

In [27]:
10 + 12

22

In [38]:
a = 10 # asssigning value to a variable
b = 20
c = a + b

In [40]:
print("a is %d, b is %d and their sum is %d"%(a,b,c) ) # display integers %d

a is 10, b is 20 and their sum is 30

In [44]:
print("a is {} , b is {} and their sum is {}".format(a,b,c) )

a is 30 , b is 20 and their sum is 10

python understands the following types of data:

int 3 4 5 6 67

float 3.14 5.7  6776.6767 

str string - "hellowwww"

In [64]:
print("""anogdnaor geonargierao enasgonar goaefinavoasngvrnasongvr grioahsgirhg 
f oanfeoahfeoiajfioeajoifheoiasjifea fahfeoahfoaisjfhaeie
aeofhaoiefhaioefjioajfehaohfeiahf
efaohfeioaofehiaoheohaef
Lists: Ordered, mutable collections of items, which can be of mixed types.

Tuples: Ordered, immutable collections of items.

Dictionaries: Unordered collections of key-value pairs.

Sets: Unordered collections of unique items.

None: Represents the absence of a value or a null value.

Each data type serves different purposes and has different methods associated with it. For example, lists and dictionaries have methods to modify their content, while tuples and strings do not.
""")

anogdnaor geonargierao enasgonar goaefinavoasngvrnasongvr grioahsgirhg
f oanfeoahfeoiajfioeajoifheoiasjifea fahfeoahfoaisjfhaeie
aeofhaoiefhaioefjioajfehaohfeiahf
efaohfeioaofehiaoheohaef
Lists: Ordered, mutable collections of items, which can be of mixed types.

Tuples: Ordered, immutable collections of items.

Dictionaries: Unordered collections of key-value pairs.

Sets: Unordered collections of unique items.

None: Represents the absence of a value or a null value.

Each data type serves different purposes and has different methods associated with it. For example, lists and dictionaries have methods to modify their content, while tuples and strings do not.

In [ ]:
lists, tuples, dictionary, sets

In [70]:
1.23e3

1230.0

In [72]:
45.6644e4 #4566644.0

456644.0

In [ ]:
4.56 
4.565987

how many bits we use in a computer, precision is set

In [ ]:
# setting precision of float numbers
formatted = "{:.2f}".format(3.14159)  # 3.14
formatted

In [82]:
r = "{:.9f}".format(1.23556)
r

'1.235560000'

In [86]:
#Typecasting
number = 5.4

# type(number)
print(number.is_integer())  # True
number

False

5.4

In [90]:
ratio = (0.5).as_integer_ratio()  # (3, 4)
ratio

(1, 2)

In [ ]:
# Integer
x = 10
print("x is of type:", type(x))

# Float
y = 3.14
print("y is of type:", type(y))

# String
name = "John"
print("name is of type:", type(name))

# Boolean
is_active = True
print("is_active is of type:", type(is_active))

In [96]:
MyName = 34 #camel case

ThisIsRollNumber = 45

MyName
ThisIsRollNumber

45

In [98]:
My_Name = 34
My_Name

34

In [100]:
1My_Name = 34
1My_Name

SyntaxError: invalid decimal literal (4004595530.py, line 1)

In [102]:
My_Name1 = 34
My_Name1

34

In [120]:
x = False
print("x is of type:",type(x))

x is of type: <class 'bool'>

In [128]:
sum = 5 + 3         # 8
difference = 10 - 2 # 8
product = 4 * 7     # 28
quotient = 20 / 4   # 5.0 (Note: Division always returns a float)
print("the sum is:",sum) # concatenation
print(sum,difference,product,quotient)

the sum is: 8
8 8 28 5.0

In [130]:
num = 5.67
num_int = int(num)
print("Converted to int:", num_int)

Converted to int: 5

In [136]:
x = "90"
y=int(x)
print(type(y))

<class 'int'>

In [152]:
a = 10
b = 3

print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [ ]:
if modulus of number/2 is 0
number is even

In [170]:
bits = (7).bit_length()  # 4 --> 1000 binary 0,1
bits

3

In [ ]:
binary

0 and 1


10 -> 

0 

1

10

11 -> 3

111 -> 7

In [190]:
x = 5
y = 10

#print( x < 0 and y > 0)
print(not(x<0))

True

and -> both true, then we will get true
or -> either of the two should be true

In [192]:
a = 10
b = 45

sum = a+b
sub = 
mul = 
div = 

print(sum)

55